/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import '../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import '../node_modules/mdb-angular-ui-kit/assets/scss/mdb.scss';


.main-body{
    padding-top:10px;
    margin-top:14px;
    border-radius:20px;
    color:whitesmoke !important;
    height:100%;
    background-color: #ffffb5;
    background-image: linear-gradient(315deg, #CFE7fA 0%, #6393C1 100%);

}

